# Backend
SECRET_KEY_BASE=change_me

# PostgreSQL used by Ecto
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgrespass
POSTGRES_DB=my_app_prod
POSTGRES_URL=ecto://postgres_user:postgrespass@postgres/my_app_prod

# Redis used by the backend cache/session layer
REDIS_PASSWORD=redispass
REDIS_URL=redis://redis:6379/0

PHX_SERVER=true
